{% extends "layout.html" %}

{% block title %}
    Booking
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">

        <h1 class="text-center display-3 fw-bold mt-4 mb-5">Select Booking Type</h1>

        <div class="col-md-6">
            <div class="mx-2">
                <div class="card border-0 text-white">
                    <img src="/static/images/fairway.jpg" class="card-img rounded-edge" alt="Fairway Image" height="530">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <h1 class="card-title"><strong><em>Fairway</em></strong></h1>
                        <h4 class="card-text text-center col-md-9">Play across beautifully maintained fairways designed for both challenge and enjoyment.</h4>
                        <a href="/booking/fairway" class="btn btn-lightgreen text-white rounded d-inline-block"><strong>Select</strong></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mx-2">
                <div class="card border-0 text-white">
                    <img src="/static/images/driving_range.jpg" class="card-img rounded-edge" alt="Driving Range Image" height="530">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <h1 class="card-title"><strong><em>Driving Range</em></strong></h1>
                        <h4 class="card-text text-center col-md-9">Sharpen your skills at our well-equipped driving range featuring spacious bays, premium turf mats, and real grass tees.</h4>
                        <a href="/booking/range" class="btn btn-lightgreen text-white rounded d-inline-block"><strong>Select</strong></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}  
