{% extends "layout.html" %}

{% block title %}
    Booking
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">

        <h1 class="text-center display-3 fw-bold mt-4 mb-5">SELECT BOOKING TYPE</h1>

        <div class="col-md-6">
            <div class="col-md-10 mx-auto">
                <div class="card text-white">
                    <img src="/static/images/fairway.jpg" class="card-img rounded-edge" alt="Fairway Image" height="530">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <h1 class="card-title">
                            <span class="translucent-bg">
                                Fairway
                            </span>
                        </h1>
                        <h5 class="card-text text-center col-md-9">
                            <span class="translucent-bg">
                                Play across beautifully maintained fairways designed for both challenge and enjoyment. Each fairway offers smooth surfaces, natural contours, and strategic layouts that reward precision while ensuring a fair and scenic game.
                            </span>
                        </h5>
                        <a href="/booking/fairway" class="btn btn-lightgreen text-white rounded d-inline-block"><strong>Select</strong></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-10 mx-auto">
                <div class="card text-white">
                    <img src="/static/images/driving_range.jpg" class="card-img rounded-edge" alt="Driving Range Image" height="530">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <h1 class="card-title">
                            <span class="translucent-bg">  
                                Driving Range
                            </span>
                        </h1>
                        <h5 class="card-text text-center col-md-9">
                            <span class="translucent-bg">
                                Sharpen your skills at our well-equipped driving range featuring spacious bays, premium turf mats, and real grass tees. With targets set at varying distances, it’s the perfect place to practice accuracy, distance, and consistency before your round or during a relaxed session.
                            </span>
                        </h5>
                        <a href="/booking/range" class="btn btn-lightgreen text-white rounded d-inline-block"><strong>Select</strong></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}  
