{% extends "layout.html" %}

{% block title %}
    Membership
{% endblock %}

{% block main %}
    <div class="text-center mt-5 mb-5">
        <h1><strong>Membership</strong> <em>plans</em></h1>
    </div>

    <div class="mx-md-4 row justify-content-center g-4 h-100" style="min-height: 70vh">
        {% set memberships = [
            {'name': 'Bronze', 'price': 10000, 'discount': 10, 'color': '#d48926'},
            {'name': 'Silver', 'price': 20000, 'discount': 15, 'color': '#e8e8e8'},
            {'name': 'Gold', 'price': 30000, 'discount': 20, 'color': '#ffd600'},
            {'name': 'Platinum', 'price': 40000, 'discount': 25, 'color': '#cbcbcb'},
            {'name': 'Diamond', 'price': 50000, 'discount': 30, 'color': '#44b0ff'}
        ] %}
        
        {% for tier in memberships %}
            <div class="col-md-4 col-lg-2">
                <div class="card shadow-sm text-center h-100 border-0 rounded-4 mx-2" style="background-color: #2e8b57">
                    <div class="card-body text-white">
                        <h4 style="color: {{ tier.color }};"><strong>{{ tier.name }}</strong></h4>
                        <h5><strong>₱{{ "{:,.0f}".format(tier.price/1000) }}k</strong>/month</h5>
                        
                        <form action="/subscribe" method="post">
                            <input name="tier" type="hidden" value="{{ tier.name }}">
                            <button class="btn btn-light fw-semibold mt-2 px-4" type="submit">Subscribe</button> 
                        </form>

                        <ul class="list-unstyled mt-3">
                            <li>• {{ tier.discount }}% discount every session!</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}