body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

nav .navbar-brand
{
  font-size: x-large;
}

.btn-green {
  background-color: #2e944b;
  border-color: #2e944b;
  color: #ffffff;
}

.btn-green:hover {
  background-color: #267a3e;
  border-color: #267a3e;
  color: #ffffff;
}

.btn-lightgreen {
  background-color: #45cf63;
  border-color: #45cf63;
  color: #ffffff;
  padding: 15px 60px;
  font-size: 20px;
  margin-top: 15px;
}

.btn-lightgreen:hover {
  background-color: #53d16e;
  border-color: #53d16e;
  color: #ffffff;
  padding: 15px 60px;
  font-size: 20px;
  margin-top: 15px;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.rounded-edge {
  border-radius: 30px;
  filter: brightness(80%)
}

.translucent-bg {
    background-color: rgba(0, 0, 0, 0.1); 
    color: white; 
}

a {
  color: #2e944b;
  text-decoration: none;
  }

a:hover {
  color: #267a3e;
  text-decoration: underline;
}

#image-side {
  background: url('/static/images/gab_cameo.png') no-repeat center center; 
  background-size: cover;
}

body.homepage-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/static/images/homepage_backdrop.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.homepage-box {
    background-color: #2e944b;
    
    color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    height: 80%;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.homepage-welcome {
  background-color: #2e944b;
  color: white;
  padding: 4px 12px;
  border-radius: 10px;
}

.fs-7{
  font-size: 0.875rem;
}

.fs-8{
  font-size: 0.75rem;
}

.shopfilter{
  background-color: #2e944b;
  color: white;
  padding: 1rem 1rem;
  border-radius: 10px;
}

.bi-search {
  color: #2e944b !important;
}